
html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url("https://i.pinimg.com/474x/57/c9/0b/57c90bab2c1df069f077fc8de2736888.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}


h2 {
  color: black;
  text-align: left;
  font-size : 50px;
  color: white;
  margin-left: 100px;
}

.designs{
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.spacer{
  height: 150px;
}
#button{
  margin: 10px;
  font-size: 18px;
  background-color: #474747;
  color: white;
}
.draw{
  margin-left: 50px;
  margin-right: 50px;
}
#canvas{
  height: 600px;
  width: 800px;
  margin: auto;
}
.slider{
  -webkit-appearance: none;
  height: 5px;
  outline: none; 
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background: white;
}
.slider::-moz-range-thumb {
  width:2px;
  cursor: pointer;
}
#red{
  background: tomato;
}
#green{
  background: seagreen;
}
#blue{
  background: deepskyblue;
}